<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Nirogi</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <style>
      .mental{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      h2{
        text-align: center;
      }
      input[type="radio"] {
        margin-bottom: 0;  
        padding: 0;
      }
      fieldset{
        padding: 10px;
      }
      p{
        font-weight: bold;
      }
      #submit{
        margin: 0;
        position: absolute;
        right: 50%;
        -ms-transform: translate(-50%,-90%);
        transform: translate(-50%,-90%);
      }
      
    </style>
</head>
<body>
    <header>
        <h1><a href="/" id="head">Nirogi</a> </h1>
    </header>
    <article></article>    
    <footer>
        <div class="row">
            <div class="col-3">Copyright  &#169 2020</div>
            <div class="col-3 "></div>
            <div class="col-3"></div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/shubham-jain-79b74712a/"><img id="linked" src="logos/linked.png" alt=""></a>
                <a href="https://github.com/shubham00jain"><img src="logos/github.png" alt="" id="git"></a>
            </div>
        </div>
    </footer>
    
</body>

</html>